.navbar-custom{
  .collapsed .navbar-toggler-icon{
       background-image: url('./../img/sandwich.svg');
   }
    .navbar-toggler-icon{
       background-image: url('./../img/cross.svg');
   }
   .navbar-toggler{
       border: none;
   }
   .navbar-collapse{
       background-color: #333333;
       font-size: 32px;
        margin: 10px -15px 0; 
       @media (min-width: 576px) { 
         margin: 0; 
       } 
   }
   .nav-item{
       //padding: 20px 0;
   }
   .nav-link{        
       line-height: 2rem;
       color: #fff;
       font-family: "Montserrat";
      padding-left: 2rem;
        text-align: left;
       &:hover{
           color: #8d81ab;
       }
       @media (min-width: 576px) { 
        line-height: normal;
        text-align: center;
        font-size: 1rem;
        margin: 0 0rem;
        padding: 0;
        color: #635c73;
        font-weight: bold;}
       @media (min-width: 992px) { 
         margin: 0 1rem;
       }
   }
   .active .nav-link {       
       color: #858585;
   }
   .btn-custom{
    width: 150px;
    height: 48px;  
    font-size: 1.1rem;
    line-height: 15px;
    @media (min-width: 576px) { 
      width: 145px;
      height: 38px;
      border-radius: 19px;
      font-size: 1rem;
      margin-left: 1rem;  
    }
    
 }


}
@media (min-width: 576px) { 
   .navbar-custom{
       .nav-link{        
       padding-left: 0rem;
       &:hover{
           color: #8d81ab;
       }    
   }
   .active .nav-link {border-left: none;
       color: #000;
   }
       .navbar-collapse{
           background-color: #ffff;
           font-size: 32px;
          // margin: 10px -15px 0;   
       }
   }
   
   
}
.navbar-brand{
   font-size: 24px;
   line-height: 16px;
   color: #333333;
   font-family: "Montserrat";
}
.purp{
   color: #8d81ac;
}