@import "app/sass/header";
body{
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}


.d-flex{
   //height: 200px;
}
.bd-highlight{
    border: 1px solid #000;
}
.cod-view{
    height: 300px;
}
.btn-custom{
    border-radius: 24px;
    background-color: #8d81ac;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}